//оформление элементов, которые выглядят как кнопки, втч ссылок как кнопки

@use "../base/variables" as *

button, .button
  display: inline-flex
  line-height: 1
  font-weight: $fs_regular
  align-items: center
  justify-content: center
  text-align: center
  white-space: nowrap

//.button-svg
  width: 3em
  height: 3em
  border-radius: 1.21em
  border: 1px solid currentcolor
  color: $accent
  padding: 0
  &:hover, &:active, &:focus
    border: 1px solid currentcolor
    color: inherit
    border-radius: 1.21em
  svg
    width: 1.42em
    height: 1.42em

//.button_style_1
  padding: 1.5rem 4rem
  color: $bg
  background-color: $accent
  border-radius: 2rem
  &:hover, &:active, &:focus
    border-radius: 2rem
    color: $bg
    background-color: $btnactive


.button_style_2 //белый фон, акцентная рамка
  $fontSize: 1.2rem
  $paddingX: 1.666em // 20px
  $minH: 3.16667em
  $radius: 1.25em //15px
  $col_1: $bg
  $col_2: $accent
  font-size: $fontSize
  padding: 0 $paddingX
  min-height: $minH
  background-color: $col_1
  border-radius: $radius
  border: 1px solid $col_2
  &:hover, &:active, &:focus
    border-radius: $radius
    color: $col_1
    background-color: $col_2
    border: 1px solid $col_2


.button_submit
  width: 100%
  max-width: 41rem
  margin-bottom: 1.428em

