@use 'abstracts' as *
@use 'base' as *
@use 'utilities' as *
@use 'components' as *
@use 'layout' as *

//все стили до рефакторинга здесь

.section_1
.s1_bannerContainer
  padding: 0
  margin: 0 auto
  @media (min-width: 1359px)
    max-width: 133em
  @media (min-width: 1499px)
    max-width: 146em
  @media (min-width: 1700px)
    max-width: 165em
  @media (max-width: 991px)
    margin-top: $gap15
.s1_col
  position: relative
  overflow: hidden
.s1_colBanner
  flex: 0 0 53%
  max-width: 53%
  min-height: clamp(48em, calc(9.76px + 2.941vw), 58em)
  @media (max-width: 991px)
    flex: auto
    max-width: unset
    min-height: unset
.s1_colSlider
  flex: 0 0 47%
  max-width: 47%
  @media (max-width: 991px)
    flex: auto
    max-width: unset
.s1_banner
  position: absolute
  display: block
  top: 0
  bottom: 0
  left: 0
  right: 0
  min-width: 100%
  min-height: 100%
.s1_headers
  position: relative
  max-width: 75em
  padding: 13% 4em
  margin-left: auto
  @media (max-width: 991px)
    padding: 10% 4em
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: flex-start

.s1_colSlider
  min-height: 100%
  overflow: hidden
.sliderItems
  position: relative
  display: flex
  justify-content: flex-start
  width: 1000%
  min-height: 100%
.sliderItem
  width: 10%
  min-height: 100%
  img
    min-height: 100%
    min-width: 100%

.s1_description
  margin-top: -7em
.s1_descrItems
  flex-grow: 9
  display: flex
  justify-content: space-around
  align-items: stretch
  background-color: $bg
  box-shadow: 0px 10px 25px rgba(22, 34, 42, 0.07)
  padding: 2.5em
  max-width: 115em
  @media (max-width: 991px)
    padding: 1.5em
    flex-wrap: wrap

.s1_descrItem
  padding: $gap1
  @media (max-width: 991px)
    flex-basis: 40%
.s1_sliderButtons
  display: flex
  justify-content: center
.s1_sliderBtn
  margin: 1em .5em

.section_2
.section_3
.section_4
.section_5
.section_6
.section_7
.section_8
