@use 'abstracts' as *
@use 'base' as *
@use 'utilities' as *
@use 'components' as *
@use 'layout' as *

//все стили до рефакторинга здесь

.section_1
.s1_bannerContainer
  padding: 0
  margin: 0 auto
  @media (min-width: 1359px)
    max-width: 133em
  @media (min-width: 1499px)
    max-width: 146em
  @media (min-width: 1700px)
    max-width: 165em
  @media (max-width: 991px)
    margin-top: $gap15
.s1_col
  position: relative
  overflow: hidden
.s1_colBanner
  flex: 0 0 53%
  max-width: 53%
  min-height: clamp(48em, calc(9.76px + 2.941vw), 58em)
  @media (max-width: 991px)
    flex: auto
    max-width: unset
    min-height: unset
.s1_colSlider
  flex: 0 0 47%
  max-width: 47%
  @media (max-width: 991px)
    flex: auto
    max-width: unset
.s1_banner
  position: absolute
  display: block
  top: 0
  bottom: 0
  left: 0
  right: 0
  min-width: 100%
  min-height: 100%
.s1_headers
  position: relative
  max-width: 75em
  padding: 13% 4em
  margin-left: auto
  @media (max-width: 991px)
    padding: 10% 4em
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: flex-start
.s1_colSlider
  min-height: 100%
  overflow: hidden
.sliderItems
  position: relative
  display: flex
  justify-content: flex-start
  width: 1000%
  min-height: 100%
.sliderItem
  width: 10%
  min-height: 100%
  img
    min-height: 100%
    min-width: 100%
.s1_description
  margin-top: -7em
  margin-bottom: -2em
.s1_descrItems
  flex-grow: 9
  display: flex
  justify-content: space-around
  align-items: stretch
  background-color: $bg
  box-shadow: 0px 10px 25px rgba(22, 34, 42, 0.07)
  padding: 2.5em
  max-width: 115em
  @media (max-width: 1329px)
    margin-left: 2em
  @media (max-width: 991px)
    padding: 1.5em
    flex-wrap: wrap
.s1_descrItem
  padding: $gap1
  @media (max-width: 991px)
    flex-basis: 40%
.s1_sliderButtons
  display: flex
  justify-content: center
.s1_sliderBtn
  margin: 1em .5em

.section_2
.s2_videoWrapper
  position: relative
  padding-left: 0
  max-width: 63em
  margin: auto
  &:before
    display: block
    content: ''
    padding-top: 56.35%
.s2_playVideoButton
  position: absolute
  z-index: 1
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
.s2_video
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
.s2_textCol
  padding-left: 5rem
  @media (max-width: 1329px)
    padding-left: 15px
.s2_title
  margin: 2em 0 3em
  @media (max-width: 1329px)
    margin: 2em 0 1em
.s2_body
  display: flex
  @media (max-width: 1199px)
    flex-wrap: wrap
.s2_person
  display: flex
  max-width: 27em
  margin: 2em 1em 1em 0

.s2_person__photo
  min-width: 9.5em
  max-width: 9.5em
  height: 12em
  img
    min-width: 100%
    min-height: 100%


.section_3
.s3_item
  max-width: 38em
.section_4
.s4_item
  position: relative
  min-height: 20em
  padding: 2em 1em 2em 2em
  margin: 1.5em auto
  background-color: $bg
  border: 1px solid $stroke
  display: flex
  flex-direction: column
  cursor: pointer
.s4_item__title

.s4_item__tags
  margin-top: 1em
.s4_item__tag
  display: inline-block
  margin: 0 .2em .4em 0
  white-space: nowrap
  border-radius: .583em
  border: 1px solid $stroke
  padding: .583em .833em
  color: $l_dark
.s4_item__order
  margin-top: auto
.s4_item:hover
  background-color: $accent
  border-color: $accent
  *
    color: $bg!important
    border-color: currentColor

.section_5
.section_6
.section_7
.section_8
