@use 'abstracts' as *
@use 'base' as *
@use 'utilities' as *
@use 'components' as *
@use 'layout' as *

//все стили до рефакторинга здесь

.section_1
.s1_bannerContainer
  padding: 0
  margin: 0 auto
  @media (min-width: 1359px)
    max-width: 133em
  @media (min-width: 1499px)
    max-width: 146em
  @media (min-width: 1700px)
    max-width: 165em
  @media (max-width: 991px)
    margin-top: $gap15
.s1_col
  position: relative
  overflow: hidden
.s1_colBanner
  flex: 0 0 53%
  max-width: 53%
  min-height: clamp(48em, calc(9.76px + 2.941vw), 58em)
  @media (max-width: 991px)
    flex: auto
    max-width: unset
    min-height: unset
.s1_colSlider
  flex: 0 0 47%
  max-width: 47%
  @media (max-width: 991px)
    flex: auto
    max-width: unset
.s1_banner
  position: absolute
  display: block
  top: 0
  bottom: 0
  left: 0
  right: 0
  min-width: 100%
  min-height: 100%
.s1_headers
  position: relative
  max-width: 75em
  padding: 7% 4em 14%
  margin-left: auto
  @media (max-width: 991px)
    padding: 10% 4em
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: flex-start
.s1_colSlider
  min-height: 100%
.jsSliderWr
  position: relative
  overflow: hidden

.sliderItems
  position: relative
  display: flex
  justify-content: flex-start
  width: 1000%
  min-height: 100%
  @media (max-width: 991px)
    position: absolute
    top: 0
    left: 0
    height: 100%
.jsSliderWr:before
  @media (max-width: 991px)
    display: block
    content: ''
    padding-top: 56%


.sliderItem
  width: 10%
  min-height: 100%
  img
    min-height: 100%
    min-width: 100%
.s1_description
  margin-top: -7em
  margin-bottom: -2em
.s1_descrItems
  flex-grow: 9
  display: flex
  justify-content: space-around
  align-items: stretch
  background-color: $bg
  box-shadow: 0px 10px 25px rgba(22, 34, 42, 0.07)
  padding: 2.5em
  max-width: 115em
  @media (max-width: 1329px)
    margin-left: 2em
  @media (max-width: 991px)
    padding: 1.5em
    flex-wrap: wrap
.s1_descrItem
  padding: $gap1
  @media (max-width: 991px)
    flex-basis: 40%
.s1_sliderButtons
  display: flex
  justify-content: center
.s1_sliderBtn
  margin: 1em .5em

.section_2
.s2_videoWrapper
  position: relative
  padding-left: 0
  max-width: 63em
  margin: auto
  &:before
    display: block
    content: ''
    padding-top: 56.35%
.s2_playVideoButton
  position: absolute
  z-index: 1
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
.s2_video
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
.s2_textCol
  padding-left: 5rem
  @media (max-width: 1329px)
    padding-left: 15px
.s2_title
  margin: 2em 0 3em
  @media (max-width: 1329px)
    margin: 2em 0 1em
.s2_body
  display: flex
  @media (max-width: 1199px)
    flex-wrap: wrap
.s2_person
  display: flex
  max-width: 27em
  margin: 2em 1em 1em 0

.s2_person__photo
  min-width: 9.5em
  max-width: 9.5em
  height: 12em
  img
    min-width: 100%
    min-height: 100%


.section_3
.s3_item
  max-width: 38em
.section_4
.s4_item
  position: relative
  min-height: 20em
  height: calc(100% - 3em)
  padding: 2em 1em 2em 2em
  margin: 1.5em auto
  background-color: $bg
  border: 1px solid $stroke
  display: flex
  flex-direction: column
  cursor: pointer
  @media (max-width: 991px)
    min-height: 18em
.s4_item__title
.s4_item__tags
  margin-top: 1em
.s4_item__tag
  display: inline-block
  margin: 0 .2em .4em 0
  white-space: nowrap
  border-radius: .583em
  border: 1px solid $stroke
  padding: .583em .833em
  color: $l_dark
.s4_item__order
  margin-top: auto
  padding-top: 1em
.s4_item:hover
  background-color: $accent
  border-color: $accent
  *
    color: $bg!important
    border-color: currentColor

.section_5
.s5_title
  margin-bottom: .5em
.s5_item
  position: relative
  height: calc(100% - 3em)
  margin: 1.5em auto
  background-color: $bg
.s5_item__pic
  position: relative
  width: 100%
  &:before
    display: block
    content: ''
    padding-top: 62.67%
  img
    position: absolute
    min-height: 100%
    min-width: 100%
    top: 0
    left: 0
.s5_item__onHover
  position: absolute
  width: 100%
  height: 100%
  z-index: 1
  top: 0
  left: 0
  opacity: 0
  color: $bg
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  &:before
    position: absolute
    display: block
    content: ''
    z-index: -1
    opacity: .8
    width: 100%
    height: 100%
    top: 0
    left: 0
    background-color: $accent
.s5_item__pic:hover
  .s5_item__onHover
    opacity: 1

.section_6
.s6_title

.s6_item
  position: relative
  height: calc(100% - 3em)
  background-color: $bg
.s6_item__pic
  position: relative
  width: 100%
  &:before
    display: block
    content: ''
    padding-top: 58%
  img
    position: absolute
    min-height: 100%
    min-width: 100%
    top: 0
    left: 0
.s6_gridContainer
  display: grid
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr))
  grid-column-gap: $gap3
  grid-row-gap: $gap2
  grid-auto-flow: row dense
  @media (max-width: 1199px)
    grid-template-columns:  1fr 1fr 1fr
  @media (max-width: 991px)
    grid-template-columns:  1fr 1fr
.s6_gridItem

.s6_gridItemX2
  grid-row: span 2
  grid-column: span 2
  .s6_item__pic:before
    padding-top: calc(425 / 630 * 100%) //высота большой картинки
.section_7
.s7_item
  margin: $gap15 auto
  position: relative
  padding-left: 2.5em
  &:before
    display: block
    content: ''
    position: absolute
    left: 0
    top: .5em
    width: 1.1em
    height: 1.1em
    background: $gradient
    border-radius: .3em

.section_8
.s8_item
  display: flex
  align-items: center
  margin: $gap15 auto
  white-space: nowrap
  img
    min-width: 4.8em
.section_9
.s9_item
  padding: 1em
  margin: 1em auto
  border: 1px solid $stroke



