/*colors*/
$white: #fff

$dark: #323643
$dark_text: #323643
$l_dark: #778496
$stroke: #E8EAEF

$accent: #71BF43
$blue: #007DC5
$btnactive: #71BF43
$accent_dark: #51AF5B

$green: #71BF43
$orange: #FF502F

$bg: #fff

/*gradients*/
$gradient: linear-gradient(90deg, #9ED63E 0%, #51AF5B 100%)


/*font*/
$font: 'Gilfont', san-serif
$fs_light: 300    //Light
$fs_regular: 400  //Regular
$fs_med: 500      //Medium
$fs_semi: 600      //SemiBold
$fs_bold: 700     //Bold

/*template*/
$gap1: 1em
$gap15: 1.5em
$gap2: 2em
$gap3: 3em